@import "tailwindcss";

@theme {
	--color-background-primary: #050505;
	--color-background-secondary: #0F0F10;
	--color-background-tertiary: #19191A;

	--color-content-heading: #FFFFFF;
	--color-content-body: #CDCBCC;
	--color-content-headline: #B2B2B2;
	--color-content-placeholder: #827D7F;

	--color-purple-100: #4B2DBB;
	--color-purple-200: #171031;

	--color-blue-100: #30B9E3;
	--color-blue-200: #102831;

	--color-green-100: #87BB2D;
	--color-green-200: #222D26;

	--color-pink-100: #B5446B;
	--color-pink-200: #2C1A22;

	--color-yellow-100: #DCCB2E;
	--color-yellow-200: #282A0F;

	--color-border-primary: #19191A;
	--color-border-secondary: #323234;
	--color-border-tertiary: #97979B;
}
